<section class="bg-warning-foreground text-background">
  <div class="max-w-xl mx-auto px-4 py-6 text-center">
    <a href="/learn/identify" class="btn bg-background text-foreground hover:bg-background/90">
      What cable do I have?
    </a>
  </div>
</section>
